{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>О компании</title>
        <link rel="icon" href="static/img/logo.png" type="image/x-icon" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
    <canvas id="canvas"></canvas>
        <nav>
            <div class="logo">
                <h4>О компании</h4>
            </div>
        </nav>
    <script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
    </body>
</html>