{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>О компании</title>
        <link rel="icon" href="static/img/logo.png" type="image/x-icon" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
    <canvas id="canvas"></canvas>
        <nav>
            <div class="logo">
                <h4>О компании</h4>
            </div>
            <div class="page" style="color: rgba(255, 255, 255, 0.98); text-transform: uppercase; letter-spacing: 8px; font-size: 64px; background: transparent; position: absolute; top: 17.5%; text-align: center">
                <h6> Аптечная сеть «Искамед» входит в ТОП-10 крупнейших по охвату аптечных сетей и предлагает своим покупателям широкий ассортимент лекарственных средств, изделий медицинского назначения, современной медицинской техники, а также косметических средств, средств личной гигиены, товаров для детей и других товаров для красоты и здоровья ведущих отечественных и иностранных производителей.
Всем владельцам карт лояльности ООО «Искамед» предоставляются скидки: 2% на лекарственные средства, медицинскую технику, БАД к пище и 5% на косметические средства*. </h6>
            </div>
            <div class="footer">
                <h3>© 2003–2021 ООО «Искамед». Все права защищены.</h3>
            </div>
        </nav>


    <script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
    </body>
</html>